* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Merriweather', serif;
    font-size: 14px;
}
/* Header Start -----------------------------------------------*/

/* mobile menu */
/* hiding the checkbox */
.nav-toggle {
	display: none;
}

/* STYLING/POSITIONING THE HAMBURGER MENU */
.nav-toggle-label {
    position: absolute;
    z-index: 1;
	right: 0;
	margin-right: 1em;
	display: flex;
    align-items: center;
    cursor: pointer;
    top: 25px;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: #38ceff;
	height: 3px;
	width: 30px;
	border-radius: 2px;
	position: relative;
	transition: all .5s ease-in-out;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 10px;
}
.nav-toggle-label span::after {
	top: 10px;
}

#nav-toggle:checked ~ .nav-toggle-label span {
	background: #fff0; /* setting it to the same background as header so it "disappears" */
}

/* transforming the before and after span into an X */
#nav-toggle:checked ~ .nav-toggle-label span::before {
	transform: rotate(45deg);
	bottom: 0;
	background: #38ceff;
}

#nav-toggle:checked ~ .nav-toggle-label span::after {
	transform: rotate(-45deg);
	top: 0;
	background: #38ceff;
}
#menu {
	position: absolute;
    background: #6d6d6d;
    text-align: center;
    z-index: 1;
	top: 10%; /* puts itself directly under the preceeding relative positioned element */
	left: 0;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top; /* menu appears from the top instead if center, try and comment this out and see for yourself */
    transition: transform .4s ease-in-out;
}

#menu ul {
	list-style: none;
}

#menu li {
	padding: 10px 10px;
}

#menu a {
	text-decoration: none;
    color: #fff;;
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity .15s ease-in-out;
}
#menu li:hover {
    background-color: #007bff;
    transition: 1000ms;
}
#menu a:hover {
	color: #fff;
}

#nav-toggle:checked + #menu {
	transform: scale(1, 1);
}
#nav-toggle:checked ~ #menu a {
	opacity: 1;
	transition: opacity .25s ease-in-out .35s;
}
@media screen and (max-width: 430px) {
    #menu {
        top: 9.4%;
    }
}
@media screen and (max-width: 375px) {
    #menu {
        top: 8.4%;
    }
}
@media screen and (max-width: 320px) {
    #menu {
        top: 10%;
    }
}
@media screen and (min-width: 768px){
	.nav-toggle-label {
		display: none;
	}	
	#menu a {
		opacity: 1;
	}

	#menu {
		all: unset;
        flex: 2;
        display: none;
	}

	#menu ul {
		display: flex;
		align-items: center;
		height: 100%;
	}

	#menu li {
		margin: auto;
	}
}
.active-nav {
    border-bottom: 3px solid #02c6da;
}
/* end */
.social_link {
    display: flex;
    justify-content: flex-end;
    padding: 14px 0;
}
#social_link {
    background-color: #6d6d6d;
}
.icon-link {
    padding-right: 35px;
    margin-bottom: 0;
}
.icon-link li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.icon-link a {
    text-decoration: none;
    color: grey;
    background: #fff;
    border-radius: 50%;
    padding: 3px 7px;
}
#navbar {
    background-color: #5d5d5d;
}
.menulist {
    display: flex;
    justify-content: flex-end;
    padding: 18px;
    margin-bottom: 0;
}
.menulist li {
    padding-right: 15px;
    list-style: none;
}
.menulist li a{
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}
.menulist li a:hover {
    color: #02c6da;
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    nav {
        display: none!important;
    }
    .social_link {
        justify-content: center;
    }
    #menu {
        display: block!important;
    }
}
/* Header End -----------------------------------------------*/

#h_cover img {
    width: 100%;
    position: relative;
}
.cover_logo {
    position: relative;
}
.cover_logo img {
    width: 4.8%!important;
    height: auto!important;
    position: absolute!important;
    bottom: -34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.38);
}
.h_p {
    padding: 40px 10px;
    box-shadow: 0 0 15px 0px rgba(171, 157, 157, 0.7);
    margin-bottom: 68px;
}
.h_c, .h_w_center {
    align-self: center;
}
.about_w_h h2{
    text-align: center;
    font-weight: 500;
    margin: 40px 0 49px;
}
.what_is p {
    text-indent: 37px;
    text-align: justify;
    word-break: break-all;
}
.about_we_img img {
    width: 100%;
    object-fit: cover;
}
.icon_h h5 , .icon_desc{
    text-align: center;
}
#about_we {
    height: 447px;
}
.mission {
    margin-bottom: 40px;
}
.icon {
    text-align: center;
}
.icon img {
    width: 16%;
    filter: grayscale(1);
}
.h_work_header h5 {
    color: #fff;
}
.h_work_desc p {
    text-align: justify;
    color: #fff;
    text-indent: 28px;
}
.h_work_desc img {
    width: 100%;
    object-fit: cover;
}
#how_work {
    background-color: #0a7db9;
    padding: 30px 0 50px;
}
.rotate {
    clip-path: polygon(100% 69%, 0% 100%, 100% 100%);
    background: #0a7db9;
    padding: 481px 0 0 0;
    position: relative;
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    .about_w_h h2 {
        font-size: 20px;
        margin: 30px 0 20px;
    }
    .what_is h5{
        font-size: 20px;
    }
    #about_we {
        height: 1153px;
    }
    .rotate {
        display: none;
    }
    .icon {
        margin-top: 10px;
    }
    .cover_logo img {
        bottom: -23px;
        width: 15.8%!important;
        padding: 5px;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
    .cover_logo img {
        width: 7.8%!important;
        bottom: -29px;
        padding: 7px;
    }
    #about_we {
        height: 1200px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover_logo img {
        width: 5.8%!important;
        bottom: -27px;
        padding: 7px;
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .cover_logo img {
        width: 5.5%!important;
        bottom: -33px;
    }
}
/* Footer */

#footer {
    background-color: #4d6876;
    padding: 20px 0 20px;
}
.footer-wraper {
    display: flex;
    justify-content: space-between;
}
.footer-head h5 {
    color: #fff;
}
.footer_list li {
    list-style: none;
}
.footer-left {
    width: 31%;
    padding-left: 27px;
}
.footer_list li a, .footer-address a {
    color: #fff;
    text-decoration: none;
}
.footer-address a:hover {
    color: #fff;
    text-decoration: none;
}
.footer-right {
    align-self: center;
    padding-right: 27px;
}
.footer-address i {
    color: #fff;
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    .footer-wraper {
        display: block;
    }
    .footer-left {
        width: 100%;
        padding-left: 0;
    }
    #footer {
        padding: 30px 0 10px;
    }
}

/*  POlicy ----------------------------------- */

#about_policy {
    background: #fff;
    padding: 55px 0 20px;
}
.policy_pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.policy_c {
    align-self: center;
}
.policy_desc_h h1, .policyof_h h1{
    font-size: 20px;
}
.policy_desc_p p {
    text-align: justify;
    word-break: break-all;
    text-indent: 24px;

}
/* scroll animation */

.animatable {
  
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
  }
  
  /* show objects being animated */
  .animated {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }
  /* BounceInLeft Start */
  @-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
/* BounceInLeft End */

/* BounceIn Start */
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
/* BounceIn End */

/* scroll end */

/* Policyof-MDn */
#policyof_mdn {
    background: #00659a;
    padding: 0px 0 40px;
}
.policyof_h h1 {
    color: #fff;
}
ul li {
    list-style: none;
}
.list_policy ul li {
    color: #fff;
    padding-top: 17px;
}
.policyof_rotate {
    clip-path: polygon(100% 100%, 0% 500%, 0% 0%);
    background: #00659a;
    padding: 66px 0 0 0;
    position: relative;
}
/* PDF Gallery -------------------- */

#pdf_gallery {
    padding: 30px 0 10px;
}
.pdf_img a {
    text-decoration: none;
}
.pdf_img img {
    width: 100%;
    object-fit: cover;
    padding: 3px;
    height: 250px;
}
.pdf_img {
    box-shadow: 0 0 9px 1px rgba(171, 157, 157, 0.7);
    
}
.pdf_caption {
    text-align: center;
    color: #000;
    padding: 5px 0 25px;
}
.pdf_p {
    padding-bottom: 28px;
}
/*** effect zoom out ***/

.img-zoom-out img 
{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-zoom-out:hover img 
{
transform:scale(0.9);
-webkit-transform:scale(0.9);
-moz-transform:scale(0.9);
-ms-transform:scale(0.9);
-o-transform:scale(0.9)
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    #about_policy {
        padding: 14px 0 20px;
    }
    .policyof_rotate {
        display: none;
    }
    .policyof_h h1 {
        padding-top: 10px;
    }
    .list_policy ul li {
        padding-top: 5px;
    }
    .mobile_p_t {
        padding-top: 30px;
    }
    .policy_desc_h h1 {
        padding-top: 10px;
    }
}
/* Contact us ------------- */
#contact {
    padding: 50px 0;
}
.contact_h h1 {
    text-align: center;
    padding-bottom: 40px;
}
.contact_map {
    display: flex;
    justify-content: center;
}
.contact_addr ul li {
    list-style: none;
}
.contact_addr {
    padding-top: 14px;
}
.mapouter {
    position:relative;
    height:307px;
    width:631px;
    box-shadow: 0 0 11px 2px rgba(171, 157, 157, 0.7);
    margin-bottom: 92px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    iframe {
        width: auto!important;
    }
    #contact {
        padding: 23px 0;
    }
    .contact_h h1 {
        padding-bottom: 4px;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    iframe {
        width: 395px!important;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    iframe {
        width: 345px!important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    iframe {
        width: 509px!important;
    }
}
@media (min-width: 499px) and (max-width: 518px) {
    iframe {
        width: 470px!important;
    }
}
@media (min-width: 519px) and (max-width: 536px) {
    iframe {
        width: 486px!important;
    }
}
@media (min-width: 537px) and (max-width: 550px) {
    iframe {
        width: 500px!important;
    }
}
@media (min-width: 550px) and (max-width: 575px) {
    iframe {
        width: 520px!important;
    }
}
/* -------Training***** */

#training {
    background: #fff;
    padding: 114px 0 93px;
}
.training_rotate {
    clip-path: polygon(100% 100%, 0% 500%, 0% 0%);
    background: #00659a;
    padding: 69px 0 0 0;
    position: relative;
}